{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<br>
<br>
<h1 style="color:#17a2b8;">Assistente Virtual</h1>
<p style="font-size:1.2em;font-weight:600;">Oi! Vou te fazer umas perguntas para saber mais sobre sua empresa, e quais tipo de serviços você quer oferecer na plataforma, no final do cadastro vou sincronizar seus serviços a solicitações encontrada na plataforma e te enviaremos!</p>
<br>
	<div class="form">
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.nome.id_for_label}}">Nome da Sua Empresa: *</label>
						{{form.nome|add_class:"form-control"|attr:"placeholder: razão social"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.cnpj.id_for_label}}">CNPJ: *</label>
						{{form.cnpj|add_class:"form-control"|attr:"placeholder:Ex: 00.000.000/0001-00"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.telefone.id_for_label}}">Telefone: *</label>
						{{form.telefone|add_class:"form-control"|attr:"placeholder:Ex: (00)00000-0000"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.email.id_for_label}}">E-mail: *</label>
						{{form.email|add_class:"form-control"|attr:"placeholder:Ex: email@email.com"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.endereco.id_for_label}}">Endereço: *</label>
						{{form.endereco|add_class:"form-control"|attr:"placeholder:Ex: escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.numero.id_for_label}}">Numero: *</label>
						{{form.numero|add_class:"form-control"|attr:"placeholder:Ex: escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.cidade.id_for_label}}">Cidade: *</label>
						{{form.cidade|add_class:"form-control"|attr:"placeholder:Ex: escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.estado.id_for_label}}">Estado: *</label>
						{{form.estado|add_class:"form-control"|attr:"placeholder:Ex: selecione"}}
					</div>
				</div>
				</div>
			<button class="btn btn-info btn-xl rounded-pill mt-5" type="submit">cadastrar empresa</button>
			<a href="/" class="btn btn-primary btn-xl rounded-pill mt-5">cancelar cadastro</a>
			<br>
			<br>
			<br>
		</form>
	</div>
{% endblock body %}