{% extends "base.html" %}
{% load widget_tweaks %}
{% block body %}
<br>
<br>
<h1 style="color:#17a2b8;">Assistente Virtual</h1>
<p style="font-size:1.2em;font-weight:600;">Oi! Vou te fazer umas perguntas para saber mais sobre o seu evento.
Ao final, te enviaremos sugestões de serviços junto com o orçamento.</p>
<br>
	<div class="form">
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.pessoas.id_for_label}}">evento é para quantas pessoas ?: *</label>
						{{form.pessoas|add_class:"form-control"|attr:"placeholder:O seu evento é para quantas pessoas ?"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.data.id_for_label}}">Digite a data do seu evento: *</label>
						{{form.data|add_class:"form-control"|attr:"placeholder:Ex: 00/00/0000 "}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.hora_inicio.id_for_label}}">Hora de início do evento: *</label>
						{{form.hora_inicio|add_class:"form-control"|attr:"placeholder:Ex: 15:00"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.hora_fim.id_for_label}}">Hora do fim do evento: *</label>
						{{form.hora_fim|add_class:"form-control"|attr:"placeholder:Ex: 21:00"}}
					</div>
				</div>
			
				<h3 style="color:#17a2b8;">Qual será a agenda do seu evento ? Que horas cada atividade vai começar e terminar ? Preencha abaixo:</h3>
				
				<br>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.atividade.id_for_label}}">Atividades: *</label>
						{{form.atividade|add_class:"form-control"|attr:"placeholder:Ex: Palestra"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.inicio.id_for_label}}">inicio da atividade: *</label>
						{{form.inicio|add_class:"form-control"|attr:"placeholder:Ex: 19:00"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.fim.id_for_label}}">fim da atividade: *</label>
						{{form.fim|add_class:"form-control"|attr:"placeholder:Ex: 00:00"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.nome.id_for_label}}">Nome do local: *</label>
						{{form.nome|add_class:"form-control"|attr:"placeholder:Ex: Escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.endereco.id_for_label}}">Digite Endereço: *</label>
						{{form.endereco|add_class:"form-control"|attr:"placeholder:Ex: Escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.obs.id_for_label}}">Observações: *</label>
						{{form.obs|add_class:"form-control"|attr:"placeholder:Ex: O que é mais importante para o evento ?"}}
					</div>
				</div>
				<h3 style="color:#17a2b8;">Por favor, me informe seu contato de preferência:</h3>
				<br>
				<br>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.cliente.id_for_label}}">Nome: *</label>
						{{form.cliente|add_class:"form-control"|attr:"placeholder:Ex: Escreva"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.cpf.id_for_label}}">CPF: *</label>
						{{form.cpf|add_class:"form-control"|attr:"placeholder:Ex: 000.000.000-00"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.phone.id_for_label}}">Telefone: *</label>
						{{form.phone|add_class:"form-control"|attr:"placeholder:Ex: (00)00000-0000"}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="{{form.email.id_for_label}}">E-mail: *</label>
						{{form.email|add_class:"form-control"|attr:"placeholder:Ex: email@email.com"}}
					</div>
				</div>
			</div>
			<button class="btn btn-info btn-xl rounded-pill mt-5" type="submit">enviar solicitação</button>
			<a href="/" class="btn btn-primary btn-xl rounded-pill mt-5">cancelar solicitação</a>
			<br>
			<br>
		</form>
	</div>
{% endblock body %}